@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color1: #E8E8E3;
    --color2: #91a9cf;
    --color3: #880ece;
    --font: 'Inter', 'sans-serif';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: var(--font);
    background-color: var(--color2);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 580px;
    border-radius: 20px;
    gap: 15px;
    background-color: var(--color1);
    animation: opacity 1.5s;
}

#title {
    width: 100%;
    text-align: center;
}

#title h1 {
    font-size: 20px;
    text-transform: uppercase;
}

#img img {
    width: 90px;
    border-radius: 50%;
}

#text {
    text-align: center;
    width: 85%;
}

#text p {
    font-size: 15px;
    line-height: 17px;
}

#qrCode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#qrCode img {
    width: 150px;
}

#notice {
    display: flex;
    width: 90%;
}

#notice p {
    font-size: 13px;
    text-align: center;
    color: var(--color3);
}

#randomCodeBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    gap: 5px;
    background-color: white;
}

#randomCodeBlock p {
    font-size: 14px;
}

#copy {
    position: relative;
}

#copy i {
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: var(--color3);
    cursor: pointer;
}

#Copiado {
    display: none;
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -180%);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--color3);
    animation: toTop .5s ease-out;
}

@keyframes toTop {
    from {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -100%);
        filter: opacity(0);
    }
    to {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -180%);
        filter: opacity(1);
    }
}


@keyframes opacity {
    0% {
        transform: scale(0.5);
        filter: opacity(0);
    }

    50% {
        transform: scale(1);
        filter: opacity(1)
    }

}

